<div class="container">
  <h2>Создание конференции</h2>
  <form id="conferenceForm" [formGroup]="conferenceForm" class="marg-bottom" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Название конференции:</label>
      <input id="name" class="form-control" type="text" formControlName="name" required>
    </div>
    <div class="form-group">
      <label for="info">Информация о конференции: </label>
      <input id="info" class="form-control" type="text" formControlName="info">
    </div>
    <div class="form-group">
      <label for="location">Место проведения конференции: </label>
      <input id="location" class="form-control" type="text" formControlName="location">
    </div>
    <div class="form-group">
      <label for="dateTimeStart">Дата начала конференции: </label>
      <input id="dateTimeStart" class="form-control" type="datetime-local" formControlName="dateTimeStartConference">
    </div>
    <div class="form-group">
      <label for="dateTimeFinish">Дата окончания конференции: </label>
      <input id="dateTimeFinish" class="form-control" type="datetime-local" formControlName="dateTimeFinishConference">
    </div>
    <!--<button type="submit" [disabled]="!conferenceForm.valid" (click)="save()">Сохранить</button>-->
    <!--button type="submit">Добавить секции</button>-->

  </form>

  <div class="marg-bottom">
    <div class="row mb-3">
      <h2 class="col-xl-3 col-md-3 col-sm-9 ">Администраторы</h2>
      <a id="addAdmin" class=" marg add-a" (click)="addAdmin()" >
        <img class="add  rounded-circle " src="https://img.icons8.com/material-rounded/30/000000/plus-math.png">
      </a>
    </div>
    <div *ngFor="let a of listAdmins; let j=index" class="rowTable row">
      <div class="col-12 col-md-8 ">
        <h4>{{a.email}}</h4>
      </div>

        <div class="col-6 col-md-4 ">
          <div class="row">
            <!-- <button  type="button" class="btn  btn-outline-secondary" (click)="edit()">Редактировать</button> -->
            <!--<button type="button" class="btn  btn-outline-secondary">Добавить лекцию</button>-->
            <button type="button" class="btn  btn-outline-secondary float" (click)="deleteAdmin(j)">Удалить</button>
        </div>
        </div>
    </div>


    <form id="adminForm" [formGroup] = "adminForm" style="display:none; " (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email администратора: </label>
        <input id="email" class="form-control" type="text" formControlName="email" required>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary" type="submit" [disabled]="!adminForm.valid" (click)="saveAdmin()">Сохранить</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeAdmin()">Отменить</button>
      </div>
      <p *ngIf="errorFlag">
        {{errorMessage}}
      </p>
    </form>
  </div>

    <!--------------------------------SECTIONS!!------------------------------>
    <div class="marg-bottom">
    <div class="row">
        <h2 class="col-md-2 col-sm-5 col-xl-2">Секции</h2>
        <a id="addSection" class=" marg add-a"  (click)="addSection()" >
          <img class="add  rounded-circle " src="https://img.icons8.com/material-rounded/30/000000/plus-math.png">
        </a>
      </div>
      <div *ngFor="let s of listSections; let i=index" [attr.data-index]="i" class="rowTable row">
          <div class="col-12 col-md-8 ">
            <h3>{{s.name}}</h3>
            <p>{{s.info}}</p>
          </div>
      
          <div class="col-6 col-md-4">
            <!-- <button id="edit_{{i}}" type="button" class="btn  btn-outline-secondary" (click)="edit()">Редактировать</button> -->
            <div class="row">
            <button attr.id="lectures_{{i}}" type="button" class="btn  btn-outline-secondary" (click)="lectures(i)">Лекции</button>
            <button attr.id="hide_{{i}}" class="btn btn-outline-secondary " type="button" (click)="hideLectures(i)" 
              style="display:none;">Скрыть лекции</button>
            <button attr.id="lectures_{{i}}" type="button" class="btn  btn-outline-secondary" (click)="deleteSection(i)">Удалить</button> 
          </div>
          </div>
      
          <div  attr.id="compLectures_{{i}}" style="width:100%; display: none;">
            <!------------------------------------------LECTURE!!!-------------------------------------------------->

            <div class="container marg-bottom">
                <div class="row">
                    <h3 class="col-md-2 col-3">Лекции</h3>
                    <!-- <button id="addLecture{{i}}" class="btn btn-outline-secondary " type="button" (click)="addLecture(i)" >Добавить лекцию</button> -->
                    <a id="addLecture{{i}}" class=" marg add-a" (click)="addLecture(i)" >
                        <img class="add addLect  rounded-circle " src="https://img.icons8.com/material-rounded/30/000000/plus-math.png">
                      </a>
                  </div>
                  <div *ngFor="let s of listSections[i].lectures; let si=index" [attr.data-index]="si" class="rowTableColor row">
                      <div class="col-12 col-md-8 ">
                        <h4>{{s.topic}}</h4>
                        <p>{{s.info}}</p>
                      </div>
                  
                        <!-- <div class="col-6 col-md-4 btn-group">
                          <button  type="button" class="btn  btn-outline-secondary" (click)="edit()">Редактировать</button>   
                          <button type="button" class="btn  btn-outline-secondary">Добавить лекцию</button>
                        </div> -->
                        <div class="col-6 col-md-4">
                          <div class="row">
                            <button attr.id="speaker_{{i}}_{{si}}" type="button" class="btn  btn-outline-secondary" (click)="speakers(i,si)"> Лекторы</button>
                            <button attr.id="hide_speaker_{{i}}_{{si}}" type="button" class="btn  btn-outline-secondary" (click)="hideSpeakers(i,si)"
                              style="display:none;"> Скрыть лекторов</button>
                            <button attr.id="lecture_{{i}}_{{si}}" type="button" class="btn  btn-outline-secondary" (click)="deleteLecture(i,si)">Удалить</button>  
                          </div>
                        </div>

                        <div id="compSpeakers_{{i}}_{{si}}" style="width:100%; display: none;">
                        <!-------------------------------------------SPEAKERS!---------------------------------------->

                        <div class="container marg-bottom">
                          <div class="row">
                            <h5 class="col-md-2 col-3">Лекторы</h5>
                            <a id="addSpeaker{{i}}_{{si}}" class=" marg add-a"  (click)="addSpeaker(i,si)" style="margin-top: -5px;">
                                <img class="add addLect  rounded-circle " src="https://img.icons8.com/material-rounded/30/000000/plus-math.png">
                              </a>
                          </div>

                          <div *ngFor="let sp of listSections[i].lectures[si].speakers; let spi=index" [attr.data-index]="spi" class="rowTableColor row">
                            <div class="col-12 col-md-8 ">
                                <h6>{{sp.name}}</h6>
                                <p>{{sp.email}}</p>
                              </div>


                              <div class="col-6 col-md-4">
                                <div class="row">
                                  <button attr.id="deleteSpeaker_{{i}}_{{si}}" type="button" class="btn  btn-outline-secondary" (click)="deleteSpeaker(i,si,spi)">Удалить</button>  
                                </div>
                              </div>
        
                          </div>

                          <form id="formSpeaker{{i}}_{{si}}" [formGroup]="speakerForm" (ngSubmit)="onSubmit()" style="display:none;">
                              <div class="form-group">
                                <label for="emailSpeaker">Email: </label>
                                <input id="emailSpeaker" class="form-control" type="text" formControlName="email" required>
                              </div>

                              <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary" type="submit" [disabled]="!speakerForm.valid" (click)="saveSpeaker(i,si)">Сохранить</button>
                                <button type="button" class="btn btn-outline-secondary" (click)="closeSpeaker(i,si)">Отменить</button>
                              </div>

                              <p *ngIf="errorFlag">
                                {{errorMessage}}
                              </p>
                            </form>


                        </div>
                      </div>
                    </div>




                  <form id="formLecture{{i}}" [formGroup]="lectureForm" (ngSubmit)="onSubmit()" style="display:none;">
                    <div class="form-group">
                      <label for="name">Тема лекции: </label>
                      <input id="name" class="form-control" type="text" formControlName="topic" required>
                    </div>
                    <div class="form-group">
                      <label for="info">Информация о лекции: </label>
                      <input id="info" class="form-control" type="text" formControlName="info">
                    </div>
                    <div class="form-group">
                        <label for="info">Дата и время начала лекции: </label>
                        <input id="dateLecture" class="form-control" type="text" formControlName="dateTimeStart">
                      </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-secondary" type="submit" [disabled]="!lectureForm.valid" (click)="saveLecture(i)">Сохранить</button>
                      <button type="button" class="btn btn-outline-secondary" (click)="closeLecture(i)">Отменить</button>
                    </div>
                  </form>
                </div>


           </div>
      
      </div>
      <form id="formSection" [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Название секции:</label>
          <input id="name" class="form-control" type="text" formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="info">Информация о секции: </label>
          <input id="info" class="form-control" type="text" formControlName="info">
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary" type="submit" [disabled]="!sectionForm.valid" (click)="saveSection()">Сохранить</button>
          <button type="button" class="btn btn-outline-secondary" (click)="close()">Отменить</button>
        </div>


      </form>
    </div>
      <button type="button" class="btn btn-outline-secondary btn-lg" (click)="save()" 
        [disabled]="!conferenceForm.valid && !sectionForm.valid && !lectureForm.valid">Сохранить</button>


</div>