<div class="comments">
  <h4>Комментарии</h4>
  <div id="addMessage" *ngIf="isAuthenticated()">
    <label for="message">Добавить комментарий</label>
    <div class="row">
      <input id="message" class="form-control col-xl-11" type="text" [formControl]="text" >
      <button id="send" type="button" [disabled]="!text.valid" (click)="addMessage()" class="btn col-xl-1 add-message">
          <img  src="https://img.icons8.com/material-outlined/24/000000/send-comment.png">
      </button>
    </div>
  </div>
  <div *ngIf="!isAuthenticated()">
    <p>Войдите, чтобы оставить комментарий</p>
  </div>

  <div class="separator"></div>
  <div *ngIf="isEmpty()">
    <p>Комментариев к данной лекции пока нет</p>
  </div>
  <div *ngFor="let m of messages" class="rowTable">
    <div class="container">
      <div class="nameUser">{{m.userName}}</div>
      <div class="">{{m.dateTimeSent}}</div>
      <p>{{m.text}}</p>
      
    </div>
  </div>
</div>