.rowTable{
    margin-bottom: 0.5rem;
    border-color: #6c757d;
    border: 1px solid;
    border-radius: 0.25rem;
    margin-left: 0;
    margin-right: 0;
}

#addMessage{
    margin-bottom: 30px;
}

#send{
    display: block;
    padding: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.add-message{
    filter:invert(65%);
}

.add-message:hover{
    filter:invert(100%);
    background-color: #777;
}