<div *ngIf="conference">
  <div class="jumbotron text-center">
    <div class="container">
      <h2 class="jumbotron-heading">{{conference.name}}</h2>
      <p class="lead text-muted">{{conference.info}}</p>
      <p class="lead text-muted">Место проведения: {{conference.location}}</p>
      <p class="lead text-muted">Даты проведения:</p>
      <p class="lead text-muted">{{conference.dateTimeStart}}</p>
      <p class="lead text-muted">{{conference.dateTimeFinish}}</p>

      <p>
        <a class="btn btn-outline-secondary" routerLink="/conference" role="button">Go back</a>
      </p>
    </div>
  </div>

  <div *ngFor="let s of conference.sections">{{s.name}}</div>


</div>