
<!-- <div role="document" class="modal-dialog"> -->
  <div class="modal-content">
    <!-- <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark mr-1" (click)="activeModal.close()">Oк</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Закрыть</button>
    </div>
  </div>
<!-- </div> -->
