<div class="container">
    <button type="button" routerLink="/articles" class="btn btn-default mb">Back to articles
    </button>
  
    <form (ngSubmit)="onSubmit()" #articleForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" [(ngModel)]="article.title" #title="ngModel" required >
        <div [hidden]="title.valid || title.pristine"
        class="alert alert-danger">
        Title is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" name="content" class="form-control" id="content" [(ngModel)]="article.content" #content="ngModel" required >
        </textarea>
        <div [hidden]="content.valid || content.pristine"
        class="alert alert-danger">
        Content is required
        </div>
      </div>
  
      <!-- <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" class="form-control" id="author" [(ngModel)]="article.author" #author="ngModel" required >
        <div [hidden]="author.valid || author.pristine"
        class="alert alert-danger">
        Author is required
        </div>
      </div> -->
  
      <button type="submit" class="btn btn-success" [disabled]="!articleForm.form.valid">Submit</button>
  
    </form>
  </div>