<div class="container">
  <div class="card-body box-shadow " style="position:relative; " >
    <p class="text-center">Загрузить файл</p>
    <input class="btn" #file type="file" multiple (change)="upload(file.files)"/>
  </div>
  <div *ngIf="isFailed()" class="alert alert-danger" role="alert">
      <p *ngFor="let item of checkedStatus.Errors">
        {{item.Paragraph}}: {{item.Comment}}
      </p>
      <p *ngFor="let item of checkedStatus.Warnings">
        {{item.Paragraph}}: {{item.Comment}}
      </p>
  </div>
  <div *ngIf="isSuccessful()" class="alert alert-success" role="alert">
    Файл успешно загружен
  </div>
  <a class="btn btn-outline-secondary" role="button" (click)="goBack(c)">Назад</a>
</div>
