<div class="container">
    <div class="jumbotron text-center">
        <h2>{{lecture?.topic}}</h2>
        <p>{{lecture?.info}}</p>
        
        <p *ngIf="!isListener()">
            <a class="btn btn-outline-secondary" role="button" (click)="addSchedule()">Добавить в расписание</a>
        </p>

        <p *ngIf="isListener()">
            <a class="btn btn-outline-secondary" role="button" (click)="removeSchedule()">Убрать из расписания</a>
        </p>

        <p>
            <a class="btn btn-outline-secondary" (click)="goBack()" role="button">Назад</a>
        </p>
    </div>

    <app-files [lectureId]="id"></app-files>
    <app-forum [idLecture]="id"></app-forum>    
</div>
