<div class="container">
  <h2>Личное расписание лекций</h2>
  <p *ngIf="isEmpty()">Вы не подписаны ни на одну лекцию</p>
  <div *ngFor="let l of lectures;let i=index" class="rowTable row">
    <div class="container">
        <div class="row">
        <div class="col-12 col-md-8 ">
          <a routerLink="/lectures/{{l.id}}"><h4>{{l.topic}}</h4></a>
          <p>{{l.info}}</p>
        </div>


        <div class="col-6 col-md-4 ">
            <div class="row">
              <button type="button" class="btn  btn-outline-secondary float" (click)="deleteLecture(l.id,i)">Удалить</button>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>