.rowTable{
    margin-bottom: 0.5rem;
    
    border: 1px solid;
    border-color: #ced4da;
    border-radius: 0.25rem;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
}

a:hover{
    color:#6c757d;
}

a{
    text-decoration:none;
    color:black;
}